<div class="jumbotron mt-4">
    <h1 class="display-4">Online Free Notes</h1>
    <p class="lead">If you're searching for the best Online Free Notes, you're in the right web. RussApp provided free notes storage, you just need to create a free account and start to create and save private notes. We currently provide the options of: create account, Sign in, and create online notes for free, but that's not all… we're working on major improvements.</p>
    <hr class="my-4">
    <p>Start with RussApp is easy, just create an account and start saving privates notes online. Make sure to remember your email and password, since we currently don't have an option to recover accounts.</p>
    <a href="http://russapp.xyz/users/signup" class="btn btn-primary">Create a free account</a>
</div>