<div class="jumbotron mt-4">
    <h1 class="display-4">Welcome to Notes App</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum a reprehenderit ipsam consequuntur nesciunt illo doloribus corporis tempora veniam animi dolorum recusandae laudantium commodi officia voluptas, mollitia odit ipsum illum!</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi aut sapiente quaerat voluptatibus illo eaque deleniti laboriosam minus, temporibus accusamus.</p>
    <a href="rusbenmadrigal.com" class="btn btn-primary">Online App</a>
</div>

